@model Post
<h4>@Model.Title</h4>
<p>@Model.Content</p>
<div class="box-img flex justify-center content-center">
    <img src="@Model.ImageContent" />
</div>
<p class="text-right">@Model.CreatedBy</p>
<div class="box-tag flex content-center">
    @foreach (var item in Model.IdTag.ToList())
    {
        <a class="tag cursor-pointer" href="/Posts/DetailTags/@item.Id">#@item.Name</a>
    }
</div>
<style lang="scss" scoped>
    .box-img {

        img {
            width: 500px;
            height: 500px;
        }
    }
    .box-img-mini {

        img {
            width: 250px;
            height: 250px;
        }
    }
    .box-tag {
        .tag {
            margin-right: 5px;
            border: 1px solid black;
            padding: 4px;
            cursor: potainer;
        }
    }

</style>