@model Post
<div class="text-right">
    <a asp-action="Edit" asp-controller="Posts" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
</div>
<h4>@Model.Title</h4>
<p>@Html.Raw(Model.Content)</p>
<p class="text-right">@Model.CreatedBy</p>
<div class="box-tag flex content-center">
    @foreach (var item in Model.IdTag.ToList())
    {
        <a class="tag cursor-pointer" href="/Posts/DetailTags/@item.Id">#@item.Name</a>
    }
</div>
<style lang="scss" scoped>
    .box-img {

        img {
            width: 500px;
            height: 500px;
        }
    }
    .box-img-mini {

        img {
            width: 250px;
            height: 250px;
        }
    }
    .box-tag {
        .tag {
            margin-right: 5px;
            border: 1px solid black;
            padding: 4px;
            cursor: potainer;
        }
    }

</style>