@model List<Tag>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button class="btn-primary">
        <a asp-action="Create">Create New Tag</a>
    </button>
</p>
@if (Model.Count() == 0)
{
    <p class="text-center">Không có dữ liệu!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="cursor-pointer" asp-action="DetailTags" asp-controller="Posts" asp-route-id="@item.Id">#@item.Name</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
