@{
    ViewData["Title"] = "Giới thiệu";
}
<div class="w-full h-full overflow-auto">
    <p>StockProXX là website và app cung cấp những thông tin mới nhất về thị trường chứng khoán, doanh nghiệp, bất động sản, tài chính ngân hàng. Đồng thời cung cấp các tin tức về tình hình kinh tế thế giới, kinh tế đầu tư, hàng hóa, giải trí. StockProXX sẽ là đối tác uy tin và tin cậy của khách hàng trong vai trò là bên xử lý và phân tích dữ liệu. Giúp khách hàng nắm được thông tin đầy đủ, chính xác nhất trong quá trình đầu tư tài chính của mình.</p>
    <br />
    <p>StockProXX được tạo ra và vận hành bởi đội ngũ đã có 10 năm kinh nghiệm chuyên sâu trong lĩnh vực phần mềm và xử lý dữ liệu. Đồng thời có những kiến thức hiểu biết cực kì chắc chắn về thị trường chứng khoán Việt Nam và quốc tế.</p>
    <p><b class="font18">Tại sao bạn nên lựa chọn chúng tôi?</b></p>
    <b>&emsp;Nội dung chất lượng</b>
    <p>Tất cả các nội dung, thông tin, bài viết và dữ liệu đều được kiểm tra một cách chặt chẽ, qua nhiều bước kiểm duyệt. Tuyệt đối không có sai sót.</p>
    <b>&emsp;Dịch vụ chuyên nghiệp</b>
    <p>Đội ngũ đã có 10 năm kinh nghiệm chuyên sâu trong lĩnh vực phần mềm, xử lý dữ liệu và chứng khoán.</p>
    <b>&emsp;Hỗ trợ nhanh chóng</b>
    <p>Quy trình tiếp nhận và xử lý yêu cầu/khiếu nại của khách hàng nhanh chóng. Đảm bảo quyền lợi cho khách hàng một cách tốt nhất.</p>
</div>
<style scoped>
</style>