@model VnStockproxx.Models.Post

@{
    ViewData["Title"] = "Create";
}
<h1>Create - Post</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <textarea asp-for="Title" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea id="tiny" asp-for="Content" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="flex flex-row content-center justify-between">
                <div class="form-group w-50 mr-2">
                    <label asp-for="CateId" class="control-label"></label>
                    <select asp-for="CateId" class="form-control" asp-items="ViewBag.CateId"></select>

                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="flex-1">
                    <input type="text" id="input-search" placeholder="Tìm kiếm Tag" />
                    <div class="form-group">
                        <label asp-for="IdTag" class="control-label"></label>
                        <select id="select-idtag" asp-for="IdTag" class="form-control" asp-items="ViewBag.IdTag" multiple></select>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2 text-right">
                <button class="btn btn-info">
                    <a asp-action="Index">Back to List</a>
                </button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) return true
        }
        $("#input-search").keyup(function () {
            var searching = $("#input-search").val();
            var idtag = $("#select-idtag")
            $.ajax({
                url: "/Posts/GetListTag",
                data: { searching: searching },
                dataType: "json",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    // Xóa tất cả các tùy chọn hiện tại
                    idtag.empty();
                    // Thêm các tùy chọn mới từ dữ liệu nhận được
                    $.each(response.data, function (index, item) {
                        idtag.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                },
                error: function (e) {
                    console.log(e);
                }
            });
        })
    })
</script>