@model Post[]

@{
    ViewData["Title"] = "DetailTags";
}
<div class="w-full h-full">
    @if (Model.Count() == 0)
    {
        <p>không có bài viết!</p>
    }
    else
    {
        <div class="w-full h-full overflow-auto flex flex-row content-center justify-center">
            @foreach (var post in Model)
            {
                <div class="p-2">
                    @{
                        ViewBag.HideTag = true;
                        Html.RenderPartial("DetailPost", post);
                    }
                </div>
            }
        </div>
    }
</div>
