@model Post[]

@{
    ViewData["Title"] = "DetailTags";
}
<div class="w-full h-full">
    <h1>#@ViewBag.NameTag</h1>
    @if (Model.Count() == 0)
    {
        <p>không có bài viết!</p>
    }
    else
    {
        <div class="w-full h-full overflow-auto row">
            @foreach (var post in Model)
            {
                <a class="p-2 col-sm-4" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">
                    <div class="border p-2 cursor-pointer font12">
                        <p class="text-ellipsis-line2 font18">@post.Title</p>
                        <div class="flex justify-center">
                            <img class="box-img" src="@post.Image" />
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>
<style scoped>
    .box-img {
        width: 200px;
        height: 150px;
    }
</style>
