@model VnStockproxx.Models.Post

@{
    ViewData["Title"] = "Details";
    var data = Model;
}
<h4>@Model.Title</h4>
<p>@Model.Content</p>
<div class="box-img flex justify-center content-center">
    <img src="@Model.ImageContent" />
</div>
<p class="text-right">@Model.CreatedBy</p>
<div class="box-tag flex content-center">
    @foreach(var item in Model.IdTag.ToList())
    {
        <a class="tag cursor-pointer">#@item.Name</a>
    }
</div>

<style lang="scss" scoped>
    .box-img {

        img {
            width: 500px;
            height: auto;
        }
    }
    .box-tag {
        .tag {
           margin-right: 5px;
           border: 1px solid black;
           padding: 4px;
           cursor: potainer;
        }
    }

</style>
