@model List<Category>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach(var item in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="/@ConvertViToEn.ViToEn(item.Name, "-")/@item.Id">@item.Name</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" href="/GioiThieu">Giới thiệu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/LienHe">Liên hệ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Categories">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Posts">Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Tag">Tag</a>
        </li>
    </ul>
</div>